/* Start Global Rules */

:root{
  --main-color: #10cab7;
  --main-color-alt: #2c4755;;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* Safari et Chrome */
}

html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Cairo", sans-serif;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

/* Small */
@media(min-width:768px){
    .container{
        width: 750px;
    }
}

/* Medium */
@media(min-width:992px){
    .container{
        width: 970px;
    }
}

/* Large */
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}

ul li{
    list-style:none;
}

/* End Global Rules */


/* Start Header */

header .container{
  height: 64px;
  display: flex;
  flex: wrap;
  justify-content: space-between;
  background-color: white;
}

header .container .logo{
  width:  80px;
  height: 30px;
  align-self: center;
}

header .container ul{
  display: flex;
  align-self: center;
  gap: 40px;
}

header .container i{
  align-self: center;
  font-size: 22px;
  display: none;
}

header .container ul li{
  font-size: 18px;
  position: relative;
}

header .container ul li a{
  color: var(--main-color-alt);
}

header .container ul li::before{
  content:"";
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
}

header .container ul li:hover::before{
  width: 100%;
  background-color: var(--main-color);
  transition: var(--main-transition);
}

.main-page{
  position: relative;
}

.main-page-small{
  width: 60%;
  height: calc(100vh - 64px);
  position: absolute;
  top: 0;
  right: 0;
  background-color: #eee;
}

.main-page-small .list{
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.main-page-small .list ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-top: 20px;
}

.main-page-small .list ul li{
  font-size: 20px;
}

.main-page-small .list ul li a {
  font-size: 20px;
  color: var(--main-color-alt);
}

.main-page-small{

}

.invisible{
  display: none;
  visibility:hidden;

}

.displayed{
  display: block;
  visibility: visible ;
}

@media(max-width:768px){

  header .container i{
    display: block;
  }
  header .container ul{
    display: none;
  } 

}
/* End Header */


/* Start Main page */

.main-page{
  height: calc(100vh - 64px);
  background-repeat: no-repeat;
  background-image: url(../images/mounta.jfif);
  background-size: cover;
}

.main-page .container .content{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.main-page .container .content h2{
  text-align: center;
  color: var(--main-color);
  font-size: 50px;
  font-weight: bold;
}

.main-page .container .content div{
  color:var(--main-color-alt);
}



/* End Main Page */



/* Start Features */
.features{
  min-height: fit-content;
  align-items: center;
  background-color: #eee;
  padding-bottom: 100px;
}

.features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap:30px;
  padding-top: 60px;
  justify-items: center;
}

.features .container .box{
  width:300px;
  height: 250px;
  text-align: center;
}

.features .container .box i{
  font-size: 50px;
  color: var(--main-color);
  margin: 20px 0;
}

.features .container .box h3{
  text-align: center;
  color: var(--main-color-alt);
  font-weight: 800;
  font-size: 22px;
}

.features .container .box .text{
  text-align: center;
  }


/* End Features */

/* Start Services */
section .container{
  position: relative;
  min-height: 100vh;

}

section .container .title h2{
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
  font-size: 100px;
  color: rgb(211, 211, 211);
  opacity: 0.7;
}

section .container .title p{
  text-align: center;
  margin-top: -25px;
}

.serv-feature{
  display: flex;
  flex-wrap: nowrap;
  gap:50px;
  align-items: center;
  position: relative;
  margin-top: 150px;
}

.serv-feature h3{
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  color: var(--main-color-alt);

}

.serv-feature i{
  color: var(--main-color);
  font-size: 40px ;
}  

.serv-feature p{
font-size: 16px;
}

.serv-feature .blocs{
  display:grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 200px 200px;

  grid-template-areas: "graphic" "web-des "
                        "ui bloc" "web-dev ";

  gap:20px;

}

.serv-img{
position: relative;
width: fit-content;
height: fit-content;
margin-left: 40px;
margin-right: 40px;
}


.serv-img img{
  width: 250px;
  height: 250px;
  align-self: center;
  padding: 0;
  position: relative;
 
}

.serv-img::before{
  content: "";
  background-color: var(--main-color-alt);
  width: 80px;
  height: calc(100% + 70px);
  top: -38px;
  position: absolute;
  right: -35px;
  z-index: -1;
}

@media(max-width:768px){

  section .title h2{
  font-size: 70px !important;

  }

  .features .container .box h3{
  font-size: 18px;
}
  section .title p{
  margin-top: -19px !important;

}

.serv-img{
display: none;
}

.serv-feature{
display: block;
margin-top: 80px;
}
.serv-feature .blocs{
  display:grid;
  grid-template-columns:300px ;
  justify-content: center;
}

.serv-feature .bloc{
text-align: center;

}
.serv-feature h3{
  display:block;
}

}
/* End Services */



/* Start Protfolio */
.projects{
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
}

.projects img{
  width: 300px;
  height: 300px;
}

.proj{
  text-align: center;
}
.projects .proj p{
  font-size: 16px;
}
.projects .proj h3{
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 900;
  color: var(--main-color-alt);

}
@media(max-width:768px){


  section{
    padding-bottom: 50px;

  }

    .projects{
      margin-top: 80px;
    }
  
  
  
  .projects img{
    width: 250px;
    height: 250px;
  }
}


/* End Protfolio */

/* Start About */

.about-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 150px;
  gap: 50px;
}

.about-text{
  width: 500px;
}

.about-text div{
  font-size: 20px;
font-weight: 700;
line-height: 35px;
color: var(--main-color-alt);
position: relative;
margin-bottom: 50px;
margin-bottom: 40px;
}

.about-text p{
  line-height: 27px;
  color: rgb(84, 80, 80);
  font-size: 14px;
  margin-top: 0;
}

.about-text div::before{
  content: "";
  background-color: var(--main-color);
  width: 55%;
  height: 3px;
  position: absolute;
  bottom: -25px;
  left: 0;
  z-index:1;
}

.about-flex .about-img img{
  width: 250px;
  height: 280px;
}

.about-flex .about-img{
  position: relative;
  margin-right: 100px;
  z-index: 1;
}

.about-flex .about-img::before{
  content: "";
  background-color: var(--main-color);
  width: 60px;
  height: 80%;
  top: -25px;
  position: absolute;
  right: -25px;
  z-index: -1;
}

.about-flex .about-img::after{
  content: "";
  background-color: var(--main-color);
  width: 120px;
  height: 20%;
  bottom:25%;
  position: absolute;
  right:-100px;
  z-index:-2;
}


@media(max-width:768px){
  .about-flex{
  margin-top: 80px;   
  }
  .about-text div{
  font-size: 16px;
  }

  .about-flex .about-img {
    margin-right: 0px;
  }

  .about-flex .about-img::after{
    width: 0;
  }

}


/* End About */